 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 @import "tailwindcss";

@theme {
  /* Custom Font */
  --font-sans: "Inter", sans-serif;

  /* Custom Animations */
  --animate-typing: typing 3s steps(30) forwards, blink 0.8s infinite;
  --animate-float: float 4s ease-in-out infinite;

  /* Custom Keyframes */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  @keyframes blink {
    50% { border-color: transparent; }
  }
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Prevents the white highglight browser autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #EBE4E4; 
  -webkit-box-shadow: 0 0 0px 1000px #111111 inset;
  transition: background-color 5000s ease-in-out 0s;
}